bridge3/src/main/mule/bridge3.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="bridge3-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="bridge3-config" api="resource::c182a63e-6645-4218-b779-e3235f9a9058:bridge3:1.0.7:raml:zip:bridge3.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="657d1b44-afde-4707-9564-014ac35df920" file="local.secure.properties" key="${secure.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="bridge3-main">
        <http:listener config-ref="bridge3-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bridge3-config" />
        <logger level="INFO" doc:name="Logger" doc:id="6dc10d4c-8b34-4566-a78b-d118d664ea36" message='#[output application/java&#10;---&#10;"Username: " ++ Mule::p("secure::bridge.username")&#10;++ " - " ++ "Password: " ++ Mule::p("secure::bridge.password")]'/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bridge3-console">
        <http:listener config-ref="bridge3-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bridge3-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\rozdanie:application\json:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Rozdanie created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\osoba\(IDOsoba):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="IDOsoba">attributes.uriParams.'IDOsoba'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Person has been deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\osoba:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDOsoba: 1,
    archiwum: false,
    nazwiskoIImie: "Kowalski Jan"
  }, 
  {
    IDOsoba: 2,
    archiwum: false,
    nazwiskoIImie: "Nowak Kazimierz"
  }, 
  {
    IDOsoba: 3,
    archiwum: false,
    nazwiskoIImie: "Dalik Sławomir"
  }, 
  {
    IDOsoba: 4,
    archiwum: false,
    nazwiskoIImie: "Bronicki Dariusz"
  }, 
  {
    IDOsoba: 5,
    archiwum: false,
    nazwiskoIImie: "Bronicka Agata"
  }, 
  {
    IDOsoba: 6,
    archiwum: false,
    nazwiskoIImie: "Bronicka Iwona"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\przeliczTurniej\(IDTurniej):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="IDTurniej">attributes.uriParams.'IDTurniej'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDTurniej: 1,
    nrRozdania: 1,
    kontrakt: "4K",
    rozgr: "S",
    nrNS: 1,
    nrWE: 2,
    wartosc: 130,
    pktyNS: 4,
    pktyWE: 0
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 1,
    rozgr: "S",
    kontrakt: "3C-1",
    nrNS: 3,
    nrWE: 4,
    wartosc: -50,
    pktyNS: 0,
    pktyWE: 4
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 1,
    rozgr: "",
    kontrakt: "4 PASY",
    nrNS: 3,
    nrWE: 4,
    wartosc: -50,
    pktyNS: 2,
    pktyWE: 2
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ranking:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDTurniej: 1,
    nazw1: "Bronicka Agata",
    nazw2: "Bronicka Iwona",
    miejsce: 1,
    sumaPkt: 114
  }, 
  {
    IDTurniej: 1,
    nazw1: "Kowalski Jan",
    nazw2: "Nowak Kazimierz",
    miejsce: 2,
    sumaPkt: 110
  }, 
  {
    IDTurniej: 1,
    nazw1: "Dalik Sławomir",
    nazw2: "Bronicki Dariusz",
    miejsce: 3,
    sumaPkt: 98
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\rozdanie:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDTurniej: 1,
    IDRozdanie: 1,
    nrRozdania: 1
  }, 
  {
    IDTurniej: 1,
    IDRozdanie: 2,
    nrRozdania: 2
  }, 
  {
    IDTurniej: 1,
    IDRozdanie: 3,
    nrRozdania: 3
  }, 
  {
    IDTurniej: 1,
    IDRozdanie: 4,
    nrRozdania: 4
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\zapis:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDTurniej: 1,
    nrRozdania: 1,
    nrWE: 1,
    nrNS: 2,
    kontrakt: "3K",
    rozgr: "S",
    wartosc: 110,
    pktyNS: 2,
    pktyWE: 2
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 1,
    nrWE: 3,
    nrNS: 4,
    rozgr: "S",
    kontrakt: "4P",
    wartosc: -100,
    pktyNS: 0,
    pktyWE: 4
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 1,
    nrWE: 5,
    nrNS: 6,
    rozgr: "S",
    kontrakt: "3P+1",
    wartosc: 170,
    pktyNS: 4,
    pktyWE: 0
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 2,
    nrWE: 1,
    nrNS: 3,
    rozgr: "S",
    kontrakt: "2NT",
    wartosc: 200,
    pktyNS: 1,
    pktyWE: 7
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\osoba\(IDOsoba):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="IDOsoba">attributes.uriParams.'IDOsoba'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  IDOsoba: 5,
  archiwum: false,
  nazwiskoIImie: "Bronicka Agata"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\ranking\(IDTurniej):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="IDTurniej">attributes.uriParams.'IDTurniej'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDTurniej: 1,
    nazw1: "Bronicka Agata",
    nazw2: "Bronicka Iwona",
    miejsce: 1,
    sumaPkt: 114
  }, 
  {
    IDTurniej: 1,
    nazw1: "Kowalski Jan",
    nazw2: "Nowak Kazimierz",
    miejsce: 2,
    sumaPkt: 110
  }, 
  {
    IDTurniej: 1,
    nazw1: "Dalik Sławomir",
    nazw2: "Bronicki Dariusz",
    miejsce: 3,
    sumaPkt: 98
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\rozdanie\(idRozdanie):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="idRozdanie">attributes.uriParams.'idRozdanie'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  IDTurniej: 1,
  IDRozdanie: 1,
  nrRozdania: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\zapis\(nrRozdania)\(nrNS):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="nrRozdania">attributes.uriParams.'nrRozdania'</ee:set-variable>
                <ee:set-variable variableName="nrNS">attributes.uriParams.'nrNS'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  IDTurniej: 1,
  nrRozdania: 1,
  nrWE: 1,
  nrNS: 2,
  rozgr: "S",
  kontrakt: "5K",
  wartosc: -100,
  pktyNS: 5,
  pktyWE: 3
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\zapis\(nrRozdania):bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="nrRozdania">attributes.uriParams.'nrRozdania'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    IDTurniej: 1,
    nrRozdania: 1,
    nrWE: 1,
    nrNS: 2,
    kontrakt: "3K",
    rozgr: "S",
    wartosc: 110,
    pktyNS: 2,
    pktyWE: 2
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 1,
    nrWE: 3,
    nrNS: 4,
    rozgr: "S",
    kontrakt: "4P",
    wartosc: -100,
    pktyNS: 0,
    pktyWE: 4
  }, 
  {
    IDTurniej: 1,
    nrRozdania: 1,
    nrWE: 5,
    nrNS: 6,
    rozgr: "S",
    kontrakt: "3P+1",
    wartosc: 170,
    pktyNS: 4,
    pktyWE: 0
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\turniej:application\json:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Tournament added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\osoba\(IDOsoba):application\json:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="IDOsoba">attributes.uriParams.'IDOsoba'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Added Bronicka Agata"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\ranking\(IDTurniej):application\json:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="IDTurniej">attributes.uriParams.'IDTurniej'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Ranking added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\zapis\(nrRozdania):application\json:bridge3-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="nrRozdania">attributes.uriParams.'nrRozdania'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Zapis added to a database"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\zapis:bridge3-config">
        <logger level="INFO" message="delete:\zapis:bridge3-config" />
    </flow>
</mule>
